/*
//// Foldaway Forest //// 0.0.* //// May 2017 //// foldawayforest.loop.coop ////
*/

html {
    background: #333;
    color:      #eee;
    font: 125% Arial, serif; /* 1rem = 20px */
}
body {
    margin: 0;
    overflow: hidden;
}
/*canvas {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}*/

nav {
    position: fixed;
    top: 1em;
    right: 1em;
}
nav >a {
    padding-left: 1em;
}

a {
    color: #0F9;
    outline: none;
    transition: color 0.3s;
}
a:hover,
a:focus {
    color: #CF9;
}
