/*
//// Foldaway Forest //// 0.0.* //// May 2017 //// foldawayforest.loop.coop ////
*/

html {
    background: #333;
    color:      #eee;
    font: 125% Arial, serif; /* 1rem = 20px */
}
body {
    margin: 0;
    overflow: hidden;
}

nav {
    position: fixed;
    top: 1em;
    right: 1em;
    text-align: right;
}
nav >span,
nav >a {
    padding-left: 1em;
}

a {
    color: #0F9;
    outline: none;
    transition: color 0.3s;
}
a:hover,
a:focus {
    color: #CF9;
}

/* DEVELOPER */
.show-dev {
    visibility: hidden;
}
body.dev span.show-dev {
    visibility: visible;
}
